# Airbrake config
AIRBRAKE_HOST = http://localhost:32621
AIRBRAKE_PROJECT_ID = 1
AIRBRAKE_PROJECT_KEY = test

# Sentry config
SENTRY_DSN =

# Rollbar config
ROLLBAR_TOKEN =

# Bugsnag config
BUGSNAG_API_KEY =
