/bin/
/tmp/
/vendor/

# IDE integration
/.idea/*
!/.idea/codeStyles/
!/.idea/copyright/
!/.idea/*.iml
!/.idea/externalDependencies.xml
!/.idea/go.imports.xml
!/.idea/modules.xml
!/.idea/runConfigurations/
!/.idea/scopes/

# Please output directory and local configuration
plz-out
.plzconfig.local
