language: go

sudo: false

go:
    - 1.7.x
    - 1.8.x
    - 1.9.x
    - tip

branches:
    only:
        - master
        - /^v\d+\.\d+\.\d+(-\S*)?$/

matrix:
    allow_failures:
        - go: tip

before_install:
    - mkdir -p $HOME/bin
    - curl -sL https://get.binhq.io/binbrew | DEST=$HOME/bin NAME=bin bash
    - bin get golang/dep@0.4.1 $HOME/bin

install: make dep

script: make check
